@use "~bootstrap/scss/bootstrap" as *;

// Main Header
#main-header img {
    height: 50px;
}

// Main
.card {
    height: 375px;

    img {
        height: 275px;
        object-fit: cover;
        object-position: 0 top;
    }
}
