@use "~bootstrap/scss/bootstrap" as *;

/* Generics */

a {
    text-decoration: none;
}

/* Main Header */
#main-header img {
    height: 50px;
}

/* Main */
.card {
    min-height: 375px;

    img {
        height: 275px;
        object-fit: cover;
        object-position: 0 top;
    }
}
